.row
  .content
    .col-md-12
      .panel
        .panel-body
          .viewcode-example
            = simple_form_for @event do |f|
              %fieldset
                %legend.section
                  %h5
                    %i.icon-note
                    %strong General
                    %strong.pull-right.make-red * Required
                .control-group
                  %p
                    = f.input :name, :label => "Name", :input_html => { :class => 'form-control input-sm' }

                  %p
                    = f.association :event_type, :label => "Event Type", :input_html => { :class => 'form-control input-sm chosen-select' }

                  %p
                    = f.input :description, :label => "Description", :as => :text, :input_html => { :class => 'form-control input-sm', :rows => 5}

              .form-actions
                %p
                  .btn-group.no-margin{style: "float: right;"}
                    = link_to "Cancel", events_path, :class => "btn btn-sm btn-default"

                    = f.submit "Save Event", :class => "btn btn-sm btn-success"
