!!!
%html.no-ie{:lang => "en", 'ng-app' => 'zombieBox'}
  %head
    / Meta
    %base{:href => "/"}/
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}
        %meta{:content => "", :name => "description"}
          %meta{:content => "", :name => "keywords"}
            %meta{:content => "", :name => "author"}
              %title ZombieBox
              = stylesheet_link_tag "jquery-ui-1.11.2.custom.css"
              = stylesheet_link_tag 'gritter/jquery.gritter.css'
              = stylesheet_link_tag "theme/theme.css"
              = stylesheet_link_tag "chosen.css"
              %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    / START Main wrapper
    .wrapper
      / START Top Navbar
      %nav.navbar.navbar-default.navbar-top.navbar-fixed-top{:role => "navigation"}
        / START navbar header
        .navbar-header
          %a.navbar-brand{:href => "/"}
            .brand-logo
            ZombieBox
        / END navbar header
        / START Nav wrapper
        .nav-wrapper
          / START Left navbar
          %ul.nav.navbar-nav
            %li
              / Button used to collapse the left sidebar. Only visible on tablet and desktops
              %a.hidden-xs{"data-toggle-state" => "aside-collapsed", :href => "#"}
                %em.fa.fa-navicon
              / Button to show/hide the sidebar on mobile. Visible on mobile only.
              %a.visible-xs{"data-toggle-state" => "aside-toggled", :href => "#"}
                %em.fa.fa-navicon
            / START User avatar toggle
            %li
              / Button used to collapse the left sidebar. Only visible on tablet and desktops
              %a{"data-toggle-state" => "aside-user", :href => "#"}
                %em.fa.fa-user
            / END User avatar toggle
          / END Left navbar
          / START Right Navbar
          %ul.nav.navbar-nav.navbar-right
            / Search icon
            %li
              %a{"data-toggle" => "navbar-search", :href => "#"}
                %em.fa.fa-search
            / START Messages menu (dropdown-list)
            %li.dropdown.dropdown-list
              %a.dropdown-toggle{"data-play" => "flipInX", "data-toggle" => "dropdown", :href => "#"}
                %em.fa.fa-envelope
              / START Dropdown menu
              %ul.dropdown-menu
                / START dropdown footer
                %li.p
                  %a.text-left{:href => messages_path}
                    %i.fa.fa-inbox.fa-sm
                    %small.text-primary Inbox
                %li.p
                  %a.text-left{:href => '/messages?box=outbox'}
                    %i.fa.fa-arrow-up.fa-sm
                    %small.text-primary Outbox
                %li.p
                  %a.text-left{:href => '/messages?box=trash'}
                    %i.fa.fa-trash-o.fa-sm
                    %small.text-primary Trash
                %li.p
                  %a.text-left{:href => new_message_path}
                    %i.fa.fa-envelope.fa-sm
                    %small.text-primary New Message
                    
                / END dropdown footer
              / END Dropdown menu
            / END Messages menu (dropdown-list)
            / START Contacts button
            %li
              %a{"data-toggle-state" => "offsidebar-open", :href => "#"}
                %em.fa.fa-group
            / END Contacts menu
            / Start log off button
            %li
              %a.main-link{:href => '/users/sign_out', :tabindex => "-1"}
                %i.fa.fa-power-off.fa-lg
          / END Right Navbar
        / END Nav wrapper
        / START Search form
        %form.navbar-form{:action => "search.html", :role => "search"}
          .form-group.has-feedback
            %input.form-control{:placeholder => "Type and hit Enter..", :type => "text"}
              .fa.fa-times.form-control-feedback{"data-toggle" => "navbar-search-dismiss"}
          %button.hidden.btn.btn-default{:type => "submit"} Submit
        / END Search form
      / END Top Navbar
      / START aside
      %aside.aside
        / START Sidebar (left)
        %nav.sidebar
          / START user info
          .item.user-block
            / User picture
            .user-block-picture
              .user-block-status
                %img.img-thumbnail.img-circle{:alt => "Avatar"}
                  .circle.circle-success.circle-lg
              / Status when collapsed
            / Name and Role
            .user-block-info
              %span.user-block-name.item-text Welcome
              %span.user-block-role= current_user.try(:full_name)
          / END user info
          %ul.nav
            / START Menu
            %li.nav-heading Main navigation
            %li.active
              %a.no-submenu{"data-toggle" => "", :href => "/", :title => "Dashboard"}
                %em.fa.fa-dot-circle-o
                %span.item-text Dashboard
            - if current_user.present? && current_user.has_role?(:super_admin)
              %li
                %a.no-submenu{"data-toggle" => "", :href => "/events", :title => "Event"}
                  %em.fa.fa-file-text-o
                  %span.item-text Events
              %li
                %a.no-submenu{"data-toggle" => "", :href => "/event_types", :title => "Event Type"}
                  %em.fa.fa-file-text-o
                  %span.item-text Event Types
            %li
              %a.no-submenu{"data-toggle" => "", :href => "/leaderboards", :title => "Leaderboards"}
                %em.fa.fa-file-text-o
                %span.item-text Leaderboards
            %li
              %a.no-submenu{"data-toggle" => "", :href => "/users/#{current_user.id}/edit", :title => "Profile"}
                %em.fa.fa-file-text-o
                %span.item-text Profile
            %li
              %a.no-submenu{"data-toggle" => "", :href => "/users", :title => "Users"}
                %em.fa.fa-file-text-o
                %span.item-text Users

        / END Sidebar (left)

      / End aside
      / START aside
      %aside.offsidebar
        / START Off Sidebar (right)

      / START Main section
      %section
        = yield

    = javascript_include_tag "modernizr-2.5.3.min"
    
    / jquery and friends
    = javascript_include_tag "jquery/jquery-2.1.1.js"
    = javascript_include_tag "jquery/jquery-ui-1.11.2.custom.js"
    = javascript_include_tag "jquery/jquery.gritter.min.js"
    = javascript_include_tag "jquery/jquery.icheck.js"
    = javascript_include_tag "jquery/jquery.sparkline.js"
    = javascript_include_tag "jquery/jquery.slimscroll.js"
    = javascript_include_tag "jquery/jquery.dataTables.min.js"
    = javascript_include_tag "jquery/jquery.metisMenu.js"

    / backbone and friends
    = javascript_include_tag "backbone/underscore-min.js"
    = javascript_include_tag "backbone/backbone-min.js"
    = javascript_include_tag "backbone/backbone.localStorage-min.js"

    = javascript_include_tag "theme/theme.js"
    = javascript_include_tag 'angular/app/angular_import.js'
    = javascript_include_tag "application"

    :javascript
      $(function () {
          $("#event_start_date").datepicker({
              changeMonth: true,
              dateFormat: "yy-mm-dd",
              onClose: function (selectedDate) {
                  $("#to").datepicker("option", "minDate", selectedDate);
              }
          });
          $("#event_end_date").datepicker({
              changeMonth: true,
              dateFormat: "yy-mm-dd",
              onClose: function (selectedDate) {
                  $("#from").datepicker("option", "maxDate", selectedDate);
              }
          });
      });


